.header {
  background-color: var(--color-primary-dark);
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: var(--color-secondary);
}

.white {
  color: #fff;
}

.icon-white {
  color: #fff;
  transition: all .2s linear;
}
.icon-white:hover {
  color: var(--color-secondary);
}

[type="checkbox"] + label::before {
  display: none;
}

.nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 74px;
  left: 0;
  z-index: 2;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.current a {
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: var(--color-secondary);
}

@media only screen and (min-width: 90em) {

  .t-r {
    text-align: right;
  }

}
