---
layout: default
---
  <div class="grid wrapper white-bg">

    <div class="unit s-1 m-1-2 l-1-2 island">
      {% pattern photo-array/basic imagemain="little-egg.png" image2="little-egg.png" image3="little-egg.png" image4="little-egg.png" image5="little-egg.png" %}
    </div>
    <div class="unit s-1 m-1-2 l-1-2 island">
      <h1 class="tera">{{page.name}}</h1>
      <p>{{page.description}}</p>
      <p>${{page.price}}</p>
      {% pattern forms/number label="Quantity" %}
      <form></form>
      {% pattern buttons/basic text="Add to Cart"%}
    </div>

  </div>

<div class="grid wrapper pad-b-2 white-bg">
  <h3 class="unit xs-1 island-1-2 push-none mega">Related Products</h3>
  {% for product in site.products limit:4 %}
    <div class="unit xs-1 l-1-4 island-1-2">
      {% pattern cards/product-card data=product %}
    </div>
  {% endfor %}
</div>

</div>
