.banner {
  background-color: #fff;
  position: relative;
}

.gradient {
  background-image: linear-gradient(to top, rgba(252, 248, 246, 1), rgba(252, 248, 246, 0));
  position: absolute;
  bottom: 0;
}

.action {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral-light);
}
